server:
  port: 8085

spring:
  application:
    name: notification-service

springdoc:
  pathsToMatch: /**
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

app:
  host: http://localhost:8085
